*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #F9FAFB;
    color: #101828;
}


table thead tr.table-header th.table-header {
    background-color: #F9FAFB;
}

.status{
    font-size: smaller;
    background-color: #F3F4F6;
}

.table-wrapper {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}
